.box{
    display: flex;
    justify-content: space-between;
}

.box > label{
    margin:0;
}

.accordion{
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 20px;
  transition: 0.5s;
}

.active, .accordion:hover{
    background-color: #ccc;
}

#filter, #statistics{
    padding: 0 10px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordion:focus {
    outline: none;
}

.active#filter, .active#statistics{
    display:block;
}