.box{
    display: flex;
    justify-content: space-between;
}

.box > label{
    margin:0;
}

.accordion{
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 20px;
    transition: 0.5s;
    margin-top:15px;
    background-color: #cdf5ff;
    color: #0f677e;
    border-radius: 20px;
    text-align: center;
}

.active.accordion, .accordion:hover{
    background-color:#a0ebff;
}

.active.accordion{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#filter, #statistics{
    display: none;
    background-color: white;
    background: #e8faff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.accordion:focus{
    outline: none;
}

.active#filter, .active#statistics{
    display:block;
}

.modal-btn{
    border-radius: 12px;
    cursor: pointer;
    background-color: #6a698b;
    border: none;
    color: white;
    padding: 18px 20px;
    font-size: 18px;
}

.mapOptions{
    padding: 18px;
}

.container {
    padding: 20px;
    text-align: center
}

.dropdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 6px 0px;
}

select {
    cursor: pointer;
    display: block;
    padding: 5px;
}

.select {
    cursor: pointer;
    position: absolute;
    right: 0;
    text-align: right;
}

.select > ul > li{
    list-style: none;
    display: none;
    background-color: #e8faff;
    border-radius: 2px;
    border:1px solid #e8faff;
    box-shadow: 0 0 4px #719ECE;
    margin-bottom: 10px;
}

.select > ul > li:hover{
    background-color: #a0ebff;
}
.select > ul > li:first-child{
    display: block;
}

select:focus{
    outline: none;
}

select:hover{
    background-color: rgb(254, 254, 254);
    transition: all .5s ease;
}

.modal-btn{ 
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(153, 153, 153);
    transition: all .5s ease;
}

.modal-btn:hover {
    box-shadow: 0 0 10px rgb(54, 54, 54)
}

.modal-btn:focus {
    outline: none;
}

.modalbutton{
    padding: 10px;
}

.dropdown label{
    padding-left: 5px;
}

div.plotOption{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.plotOption > button{
    background-color: transparent;
    width: 100px;
    height: 100px;
    background-repeat: round;
    cursor: pointer;
    border: none;
}